*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    width: 100%;
    font-family: "Sora", serif;
}
.adderss-sec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: #00BEAE;
    font-family: "Sora", serif;
    color: #FFFFFF;
    font-size: 12px;
}
.dropdown a{
  text-decoration: none;
  color: #FFFFFF;
}
.nav-sec{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
}
.nav-sec ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-sec ul li{
    text-transform: capitalize;
}
.language{
    border: none;
    background: none;

}
.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #0d213f; /* Adjust the color as needed */
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropbtn::after {
    content: "▼";
    font-size: 12px;
    margin-left: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #0d213f;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  