#background {
    background-image: url('/Instructor/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 800px; */
    height: 300px;
}
.instructor-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  .instructor-card:hover {
    transform: translateY(-5px);
  }
  .instructor-image {
    height: 200px;
    object-fit: cover;
  }
  .instructor-name {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .badge-teacher {
    background-color: #e0d4ff;
    color: #6f42c1;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 20px;
  }