#background {
    background-image: url('/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 65px;
}
.text-danger {
    color: red;
    width: 800px;
}
.p {
    display:inline-block;
}
#btn {
    background-color: #35D7AE;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    border-color: #35D7AE;
    box-shadow: none;
}
#Container {
    background-image: url('/360_F_208635826_OQsq3eHuYDJJDD7Lw04wGMND3rvXDBLR.jpg');

}
.test {
    background-color: azure;
    /* border-radius: 30px; */
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center; 
    color:rgb(146, 187, 187);
    width: 150px;
    height: 50px;
}
.ceo {
    color: #704FE6;
}
#border {
    border-radius: 7px;
    opacity: 0.8;
    border: black;
}