.error-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
  }
  .error-content {
    text-align: left;
  }
  .error-image img {
    max-width: 100%;
  }
  .btn-back-home {
    margin-top: 20px;
  }