#background {
    background-image: url('/event_details/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 65px;
}